{{> header}}

<main class="row"></main>


<ul class="m-4 col">
    {{#each posts as |post| }}
    <li class="card custom-card m-2">
        <h2 class="text-center">
            <a href='/post/{{this.id}}'>
                {{this.title}}
                <span class="details"> posted by {{this.user.username}} at {{format_date this.date_created}}</span>
            </a>
        </h2>
        <p class="text-center">
            {{this.description}}
        </p>
    </li>
    {{/each}}
</ul>
</main>

<script src="./js/new.js"></script>