<ul>
    {{#each posts as |post| }}
    <li class="card custom-card">
        <h2>
            <a href=`/post/{{post.id}}`>
            {{post.title}}
            <span  class="details"> posted by {{post.user.name}} at {{format_date post.date_created}}</span>
            </a>
        </h2>
        <p>
            {{post.content}}
        </p>
    </li>
    {{/each}}
</ul>