{{> header}}

<nav class="nav flex-column ml-3 col-1">
    <button type="button" class="btn btn-lg m-1" id="create-post" href="">Create Post</button>
    <button type="button" class="btn btn-lg m-1" id="edit-post" href="">Edit Post</button>
    <button type="button" class="btn btn-lg m-1" id="add-comment" href="#comment-input">Add Comment</button>
</nav>


<ul class="m-4 col">
    <li class="card custom-card m-2">
        <h2 class="text-center">
            <a href=`/post/{{post.id}}`>
            {{post.title}}
            <span  class="details"> posted by {{post.user.username}} at {{format_date post.date_created}}</span>
            </a>
        </h2>
        <p class="text-center">
            {{post.description}}
        </p>
    </li>
</ul>
<div class="row">

    <div class="col-1"></div>
    <li class="card custom-card col mr-3">
        <h2>Would you like to add a comment?</h2>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><button type="button" class="btn btn-lg btn-primary"
                        >Submit</button></span> <!-- turn into button for submit -->
            </div>
            <textarea class="form-control" aria-label="With textarea" id="comment-input"></textarea>
            <!-- add comments -->
        </div>
        {{#each comments as |comment|}}
        <p>
        {{comment.user.name}} commented at {{format_date comment.date_created}}
        </p>
        <input class="form-control" type="text" placeholder="{{comment.content}}" readonly>
        <!-- generated comments -->
    </li>

</div>