{{> header}}

{{> makePosts}}


<ul class="m-4 col">
    <li class="card custom-card m-2">
        <h2 class="text-center">
            <a href='/post/{{id}}'>
            {{title}}
            <span  class="details"> posted by {{user.username}} at {{format_date date_created}}</span>
            </a>
        </h2>
        <p class="text-center">
            {{description}}
        </p>
    </li>
</ul>
<div class="row">

    <div class="col-1"></div>
    <li class="card custom-card col mr-3">
        <h2>Would you like to add a comment?</h2>
        <div class="input-group" id="new-comment-form">
            <div class="input-group-prepend">
                <span class="input-group-text"><button type="button" class="btn btn-lg btn-primary"
                        >Submit</button></span> <!-- turn into button for submit -->
            </div>
            <textarea class="form-control" aria-label="With textarea" id="comment-input"></textarea>
            <!-- add comments -->
        </div>
        {{#each comments as |comment|}}
        <p>
        {{comment.user.username}} commented at {{format_date comment.date_created}}
        </p>
        <input class="form-control" type="text" placeholder="{{comment.comment}}" readonly>
        <!-- generated comments -->
        {{/each}}
    </li>

</div>

<script src="/js/comment.js"></script>